parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/LoginController.php

		-
			message: '#^Using nullsafe property access "\?\-\>email" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Auth/LoginController.php

		-
			message: '#^Method App\\Http\\Controllers\\VulnerableAuth\\VulnerableLoginController\:\:dashboard\(\) should return Illuminate\\View\\View but returns Illuminate\\Http\\RedirectResponse\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/VulnerableAuth/VulnerableLoginController.php

		-
			message: '#^Access to an undefined property App\\Models\\SqliLabProduct\:\:\$price\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/SqlLabProduct.php

		-
			message: '#^Access to an undefined property App\\Models\\SqliLabUser\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/SqlLabUser.php

		-
			message: '#^Match arm comparison between ''closed'' and ''closed'' is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: app/Models/Ticket.php

		-
			message: '#^Match arm comparison between ''low'' and ''low'' is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: app/Models/Ticket.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\Ticket\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Ticket.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php
